<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>About</h3>
</div>
<div class="modal-body">
	<div class="row span5">
    <h1>Built with </h1>
    <p>107 lines of HTML, 95 lines of JavaScript, 72 lines of CSS and 85 lines of Java code</p>
  </div>

  <div class="row span5">
    <img src="assets/images/AngularJS.png"/>
  </div>
<div class="row span5">
    <h1>and</h1>
  </div>
  <div class="row span5">
    <img src="assets/images/play.png"/>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn" ng-click="hide()">Close</button>
</div>