<!-- Upoad view -->
<div ui-view ng-animate="'fade'"></div>

<!-- Sorting Combobox -->
<div class="row">
  <div class="span2"></div>
  <div class="span3">
    <div class="btn-group">
      <button type="button" class="btn dropdown-toggle btn-primary" bs-dropdown="sortOrder" data-toggle="dropdown">{{sortingBy}} <b class="caret"></b></button>
    </div>
  </div>
</div>

<!-- Repeate  bootstrap Row For Each Cat -->
<div class="row cat-row cats" ng-repeat="cat in cats | orderBy:'score':isSortPopular">
  
  <!-- Score and Vote Up/Down Column -->
  <div class="span2"></div>
  <div class="span1 cats-row-points">
    <div class="fui-arrow-up cats-arrow" ng-click="voteUp(cat)"></div>
    <h1>{{cat.score}}</h1>
    <div class="fui-arrow-down cats-arrow" ng-click="voteDown(cat)"></div>
  </div>

  <!-- Picture of Cat Column -->
  <div class="span2 img-outer">
    <img ng-src="{{cat.pictureUrl}}"/>
  </div>

  <!-- Name and Comment Column -->
  <div class="span5">
    <h1 class="cat-row-name" ng-click="toggle(cat)">{{cat.name}}</h1>
    <div style="color:white; padding: 10px" class="share palette-wet-asphalt" ng-hide="cat.expandera">
      <p>{{cat.comment}}</p>
    </div>
  </div> 
</div> <!-- End of Row For Each Cat -->
