<div class="demo-headline">
  <h1 class="demo-logo">COBRA</h1>
  <div class="row">
    <div class="span2"></div>
    <div class="span1"><a href="#"><h3>About</h3></a></div>
    <div class="span6"><h3>Cats Or Bread Rage Abuse</h3></div>
    <div class="span1"><a href="#"><h3>Upload</h3></a></div>
    <div class="span2"></div>
  </div>  
  <div class="row">
    <div class="span4"></div>
    <div class="span4"><img src="assets/images/nyanCat.gif" width="64px"/></div>    
  </div>
</div>

<!--<div class="row cats-row-points">
  <div class="span12">
    <h1 class="cats-headline">Cats</h1>
  </div>
</div>-->

<div class="row cat-row" ng-repeat="cat in cats | orderBy:'score':isSortByCat">
  <div class="span2"></div>
  <div class="span1 cats-row-points">
    <div class="fui-arrow-up cats-arrow" ng-click="voteUp(cat)"></div>
    <h1>{{getScore(cat)}}</h1>
    <div class="fui-arrow-down cats-arrow" ng-click="voteDown(cat)"></div>
  </div>
  <div class="span2 img-outer">
    <img ng-src="{{cat.pictureUrl}}" ng-click="toggle(cat)"/>
  </div>
  <div class="span5">
    <h1 class="cat-row-name" ng-click="toggle(cat)">{{cat.name}}</h1>
    <div style="color:white; padding: 10px" class="share palette-wet-asphalt" ng-hide="cat.expandera">
      <p>{{cat.comment}}</p>
    </div>
  </div>
</div>

