<div class="row cats-upload-container">
  <div class="span2"></div>
  <div class="span8 tile">

    <div class="row">
      <div class="span7"></div>
      <a class="fui-cross span1 cats-cross" ng-click="close()"></a>
    </div>
    <div class="row">
      <div class="span8">
        <div><input type="text" placeholder="Name" class="span8" autofocus="autofocus" ng-model="cat.name"></div>
        <div><input type="text" placeholder="Image url" class="span8" ng-model="cat.pictureUrl"></div>
        <div><input type="text" placeholder="Comment" class="span8" ng-model="cat.comment"></div>
        <a ng-click="upload()" class="btn btn-primary btn-large btn-block">Upload</a>
      </div>
    </div>

  </div>
  <div class="span2"></div>
</div>
