.cat-row {
  padding-bottom: 50px;
}

.cat-row-name {
  margin-left: 10px;
}

.cat-row-name:hover {
  /*text-decoration: underline;*/
  cursor: pointer;
}

.cats {
  margin-top: 40px;
}

.cats-arrow {
  font-size: 40px;
}

.cats-row-points {
  text-align: center;
}

.cats-headline {
  font-size: 40px;
  padding-bottom: 50px;
}

.cats-cross {
  text-align: right;
  text-decoration: none;
  color: #34495e;
  font-size: 24px;
  margin-bottom: 10px;
}

.cats-upload-container {
  margin-bottom: 50px;
}

.demo-logo {
  padding-bottom: 10px;
  letter-spacing: 15px;
}

.demo-headline {
  padding-bottom: 10px;
}

.tile {
  text-align: left;
}

.fade-enter-setup, .fade-leave-setup {
  transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.fade-leave-setup {
  transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.fade-enter-setup,
.fade-leave-setup.fade-leave-start {
  opacity: 0;
}

.fade-leave-setup,
.fade-enter-setup.fade-enter-start {
  opacity: 1;
}
