.cat-row {
  position: absolute;
  -webkit-transition: top 0.5s ease-in-out;
}

.cat-row-name {
  margin-left: 10px;
}

.cat-row-name:hover {
  /*text-decoration: underline;*/
  cursor: pointer;
}

.cats {
  margin-top: 40px;
}

.cats-arrow {
  font-size: 40px;
}

.cats-row-points {
  text-align: center;
}

.cats-headline {
  font-size: 40px;
  padding-bottom: 50px;
}

.cats-cross {
  text-align: right;
  text-decoration: none;
  color: #34495e;
  font-size: 24px;
  margin-bottom: 10px;
}

.cats-upload-container {
  margin-bottom: 50px;
  height: 266px;
  overflow: hidden;
}

.demo-logo {
  padding-bottom: 10px;
  letter-spacing: 15px;
}

.demo-headline {
  padding-bottom: 10px;
}

.tile {
  text-align: left;
}

.fade-enter {
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  height: 0px;
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  height: 266px;
}

.fade-leave {
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  height: 0px;
  margin-bottom: 0px;
}
